@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff") format(".woff");
}
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Oswald";
  font-display: swap;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../fonts/oswald/oswaldregular.woff") format("woff");
}
@font-face {
  font-style: medium;
  font-weight: 500;
  font-family: "Oswald";
  font-display: swap;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2"), url("../fonts/oswald/oswaldmedium.woff") format("woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Lato", sans-serif;
  color: #444444;
}

body {
  width: 100%;
  min-width: 320px;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
}

.page-title {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: #000000;
}

.button {
  display: inline-block;
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
  border: none;
}

.logo {
  display: block;
  text-decoration: none;
}
.logo--header {
  display: grid;
  align-items: center;
  column-gap: 56px;
  grid-template-columns: auto 1fr;
}
.logo--footer {
  width: 128px;
  height: 24px;
}

.logo__image {
  display: block;
  width: 33px;
  height: 38px;
}

.logo__text {
  display: block;
  width: 101px;
  height: 18px;
}

.page-header {
  position: relative;
}

.page-header__container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  border-top: 1px solid #d9d9d9;
}

.nav-list__item {
  border-bottom: 1px solid #d9d9d9;
}

.nav-list__link {
  display: block;
  padding: 22px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.header-nav__list {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 4;
  display: none;
}

.header-nav__toggle:active + .header-nav__list {
  display: block;
}

.promo__description {
  margin: 0 -20px;
  padding: 26px 0 164px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: #ffffff;
  background-color: rgba(104, 183, 56, 0.85);
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/promo-cat.jpg");
  background-repeat: repeat, no-repeat;
  background-position: top;
  background-size: auto, cover;
}

.promo__title {
  line-height: 36px;
  color: #ffffff;
}

.promo__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.promo__image-container {
  width: 280px;
  height: 270px;
  margin: -135px auto 3px;
}

.promo__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.promo__button {
  width: 100%;
}

.prospects {
  padding-top: 20px;
}

.prospects__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.prospects__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 20px 22px;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  gap: 19px;
}

.prospects__item-title {
  margin: 0 0 10px 70px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  font-family: "Oswald", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.prospects__item-text {
  margin: 0;
  padding-bottom: 38px;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;
}

.prospects__link {
  position: relative;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 48px;
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.advantages {
  padding: 20px 0 49px;
}

.advantages__title {
  margin-bottom: 40px;
}

.advantages__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 20px;
}

.advantages__item {
  position: relative;
  min-height: 60px;
  padding: 4px 0 2px 80px;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.advantages__item::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
}
.advantages__item--primary::before {
  background-image: url("../../img/svg/icon-leaf.svg");
}
.advantages__item--secondary::before {
  background-image: url("../../img/svg/icon-powder.svg");
}
.advantages__item--tertiary::before {
  background-image: url("../../img/svg/icon-eat.svg");
}
.advantages__item--quaternary::before {
  background-image: url("../../img/svg/icon-time.svg");
}

.example {
  padding: 27px 0 40px;
  background-color: #eaeaea;
}

.example__title {
  margin-bottom: 40px;
}

.example__text {
  margin: 0 0 20px;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example__result {
  display: grid;
  margin: 0;
  padding: 20px 0 7px;
  gap: 20px 32px;
  grid-template-columns: repeat(2, 124px);
}

.example__item {
  position: relative;
  padding: 14px 10px 13px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}
.example__item--price {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 7px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Oswald", sans-serif;
  color: #000000;
  text-transform: uppercase;
  border: none;
  gap: 3px;
  grid-column: 1/-1;
}

.example__def {
  margin: 8px 8px -29px;
  padding: 0 5px;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-transform: lowercase;
  background-color: #eaeaea;
}

.example__value {
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.example__value-price {
  margin: 0;
}

.slider__image-cat {
  display: block;
  margin: 0 auto;
}

.social {
  display: grid;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 24px;
  grid-template-columns: repeat(3, auto);
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 22px;
  color: #666666;
  fill: currentColor;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-decoration: none;
  fill: #666666;
}

.map {
  position: relative;
}
.map--home {
  background-color: #ffffff;
}

.map__contact {
  display: grid;
  padding: 26px 0;
  grid-template-columns: 1fr 1fr;
}

.map__title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", sans-serif;
  color: #111111;
  text-transform: uppercase;
}

.map__address {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.map__iframe-container {
  width: 100%;
  height: 362px;
}

.map__iframe-container img {
  display: block;
  width: 100%;
  height: 100%;
}

.map__iframe {
  height: 100%;
}

.map__iframe iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}

.form form {
  overflow: hidden;
}

.form__container {
  max-width: 1440px;
  padding: 0;
}

.form__header {
  padding: 25px 0 17px;
}

.form__header .form__container {
  padding: 0 20px;
}

.form__main-title {
  margin-bottom: 37px;
}

.form__text {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.form__fieldset {
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  border: none;
}
.form__fieldset--data {
  padding: 23px 20px;
}
.form__fieldset--radio {
  padding: 23px 20px 19px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.form__fieldset--contacts {
  padding: 43px 20px 25px;
}
.form__fieldset--commit {
  padding: 36px 20px 20px;
}
.form__fieldset--check {
  padding: 32px 20px 19px;
}
.form__fieldset--submit {
  padding: 15px 20px 32px;
}

.form__group-item {
  display: grid;
  align-items: center;
  margin-bottom: 14px;
  gap: 14px;
  grid-template-columns: max-content 1fr;
}

.form__label {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.form__input {
  width: 100%;
  height: 45px;
  padding: 9px 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", sans-serif;
  color: #444444;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #e7e7e7;
}

textarea.form__input {
  height: 150px;
  padding: 14px;
  resize: none;
}

.form__legend {
  font-size: 24px;
  line-height: 27px;
  font-family: "Oswald", sans-serif;
  color: #000000;
}

.form__submit {
  width: 100%;
}

.form__note {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}

.control {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.control__item {
  margin-bottom: 19px;
}

.control__label {
  padding-left: 15px;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog__title {
  margin-bottom: 41px;
}

.catalog-card {
  margin: 0 -20px;
}

.catalog-card__item {
  position: relative;
  border-bottom: 1px solid #ebebeb;
}

.catalog-card__wrapper {
  display: grid;
  align-items: start;
  padding: 20px 20px 25px;
  gap: 12px 0;
  grid-template-columns: 140px 1fr;
}

.catalog-card__item-link {
  display: block;
  width: 140px;
  height: 107px;
}

.catalog-card__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.catalog-card__link {
  color: #222222;
  text-decoration: none;
}

.catalog-card__title {
  margin: 0 0 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.catalog-card__table {
  margin: 0;
  padding: 15px 0 8px;
  font-size: 12px;
  line-height: 16px;
}

.catalog-card__table-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.catalog-card__table dd {
  margin: 0;
}

.catalog-card__button {
  width: 100%;
  grid-column: 1/-1;
}

.catalog-card__item--more .catalog-card__wrapper {
  position: relative;
  display: block;
  padding: 77px 20px 15px;
  text-align: center;
}

.catalog-card__title {
  margin-bottom: 9px;
}

.catalog-card__text {
  margin: 0 0 20px;
  font-size: 12px;
  line-height: 16px;
}

.catalog-card__button {
  color: #ffffff;
  background-color: #68b738;
}

.additional__title {
  margin-bottom: 49px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", sans-serif;
  color: #000000;
}

.additional__items {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style: none;
}

.additional__item {
  display: grid;
  justify-content: space-between;
  padding: 13px 0 18px;
  border-top: 1px solid #cdcdcd;
  gap: 14px;
  grid-template-columns: repeat(2, auto);
}

.additional__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}

.additional__name {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald", sans-serif;
  color: #222222;
  text-transform: uppercase;
  grid-column: 1/-1;
}

.additional__item span {
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.additional__button {
  grid-column: 1/-1;
}

.additional__present {
  margin: 0;
  padding: 172px 20px 26px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-image: url("../img/svg/icon-gift.svg"), linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog-cat-backpack.png");
  background-repeat: no-repeat;
  background-position: top 59px center, top, top;
  background-size: 78px 80px, auto, cover;
}

.page-footer {
  background-color: #f2f2f2;
}

.page-footer__wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-footer__logo {
  margin: 0 auto 19px;
}

.page-footer__social {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px 0 19px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
/*# sourceMappingURL=style.css.map */