.additional {
  padding: 26px 0 35px;

  @media (min-width: $tablet-width) {
    padding: 70px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 76px 0 0;
  }
}

.additional__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    margin-bottom: 17px;

    gap: 67px 80px;
    grid-template-columns: 1fr auto;
  }
}

.additional__title {
  position: relative;

  margin-bottom: 28px;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: $font-oswald;
  color: #000000;

  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;

    grid-column: 1/-1;
  }
}

.additional__items {
  margin: 0 0 35px;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.additional__item {
  display: grid;
  justify-content: space-between;
  padding: 12px 0 19px;

  border-top: 1px solid #cdcdcd;

  gap: 14px;
  grid-template-columns: repeat(2, auto);

  @media (min-width: $tablet-width) {
    padding: 26px 37px 28px;

    border: 1px solid #cdcdcd;
    border-bottom: none;

    gap: 24px;
    grid-template-columns: 1fr 150px 70px;
  }

  @media (min-width: $desktop-width) {
    align-items: baseline;
    padding: 17px 0 14px;

    border: none;
    border-top: 1px solid #cdcdcd;

    grid-template-columns: 1fr 220px 60px 244px;
  }

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}

.additional__quantity {
  font-size: 14px;
  line-height: 14px;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.additional__name {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: $font-oswald;
  color: #222222;
  text-transform: uppercase;

  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;

    grid-column: auto;
  }
}

.additional__price {
  font-size: 14px;
  line-height: 14px;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.additional__button {
  padding: 8px;

  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    padding: 10px;

    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-column: auto;
  }
}

.additional__present {
  margin: 0;
  padding: 187px 46px 42px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;

  background-image: url("../img/svg/icon-gift.svg"),
    linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../img/catalog-cat-backpack.png");
  background-repeat: no-repeat;
  background-position: top 59px center, top, top;
  background-size: 78px 80px, auto, cover;

  @media (min-width: $tablet-width) {
    min-height: 200px;
    margin-bottom: 75px;
    padding: 71px 125px 69px 421px;

    text-align: start;

    background-image: url("../img/svg/icon-gift.svg"),
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/catalog-cat-backpack-tablet.png");
    background-position: left 79px center, top, top;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    max-height: 288px;
    padding: 185px 41px 43px;

    text-align: center;

    background-image: url("../img/svg/icon-gift.svg"),
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/catalog-cat-backpack.png");
    background-repeat: no-repeat;
    background-position: top 59px center, top, top;
    background-size: 78px 80px, auto, cover;
  }
}
