.advantages {
  padding: 14px 0 49px;

  @media (min-width: $tablet-width) {
    padding-bottom: 149px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 126px;
  }
}

.advantages__title {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;

    text-align: start;
  }
}

.advantages__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 133px 39px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    gap: 94px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.advantages__item {
  position: relative;

  min-height: 60px;
  padding: 4px 0 2px 80px;

  font-size: 14px;
  line-height: 18px;
  color: #444444;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding: 111px 76px 0 0;

    font-size: 16px;
    line-height: 24px;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $color-main;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &--primary::before {
    background-image: url("../img/svg/icon-leaf.svg");
  }

  &--secondary::before {
    background-image: url("../img/svg/icon-powder.svg");
  }

  &--tertiary::before {
    background-image: url("../img/svg/icon-eat.svg");
  }

  &--quaternary::before {
    background-image: url("../img/svg/icon-time.svg");
  }
}
