.button {
  display: inline-block;
  padding: 11px;

  font-weight: 400;
  font-size: 16px;
  font-family: $font-oswald;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #68b738;
  border: none;
  cursor: pointer;

  &:hover:not(.catalog-card__button--empty),
  &:focus:not(.catalog-card__button--empty) {
    background-color: #5eaa2f;
  }

  &:active:not(.catalog-card__button--empty) {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}
