.catalog {
  @media (max-width: 767px) {
    border-top: 1px solid #ebebeb;
  }
}

.catalog__header {
  padding: 26px 0 36px;

  @media (min-width: $tablet-width) {
    padding: 65px 0 84px;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 0 84px;
  }
}

.catalog__list {
  margin: 0 -20px;
}

.catalog__title {
  text-align: start;
}
