.catalog-card {
  padding: 0;

  list-style: none;

  @media (max-width: 767px) {
    padding-bottom: 9px;

    border-bottom: 1px solid #ebebeb;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    margin: 0;

    gap: 60px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    gap: 64px 80px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.catalog-card__item {
  position: relative;

  @media (max-width: 767px) {
    border-top: 1px solid #ebebeb;
  }

  @media (min-width: $tablet-width) {
    padding-top: 81px;
  }
}

.catalog-card__wrapper {
  display: grid;
  align-items: start;
  padding: 20px 20px 24px;

  gap: 12px 0;
  grid-template-columns: 140px 1fr;

  @media (min-width: $tablet-width) {
    padding: 40px 38px;

    background-color: #f2f2f2;

    gap: 22px;
    grid-template-columns: 1fr;
  }

  @media (min-width: $desktop-width) {
    gap: 11px 0;
  }
}

.catalog-card__item-link {
  display: block;
  width: 140px;
  height: 107px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 210px;
    margin: -111px auto 0;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    height: 210px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.8;
  }
}

.catalog-card__image {
  display: block;
  width: 100%;
  height: 100%;
}

.catalog-card__link {
  color: #222222;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.8;
  }
}

.catalog-card__title {
  margin: 0 0 14px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-oswald;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.catalog-card__table {
  margin: 0;
  padding: 15px 0 9px;

  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    padding: 13px 0 10px;

    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 18px 0 23px;
  }
}

.catalog-card__table-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  gap: 10px;

  @media (min-width: $tablet-width) {
    padding: 7px 0 4px;

    border-bottom: 1px solid #d9d9d9;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 5px;
  }
}

.catalog-card__table dd {
  margin: 0;
}

.catalog-card__button {
  width: 100%;
  padding: 8px;

  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    display: inline-block;
    max-width: 254px;
    margin: 0 auto;
    padding: 10px 28px 10px;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: Oswald;
  }
}

.catalog-card__item--more {
  .catalog-card__wrapper {
    position: relative;

    display: block;
    padding: 77px 20px 15px;

    text-align: center;

    @media (min-width: $tablet-width) {
      padding: 159px 37px 40px;

      background-color: transparent;
      border: 2px solid #f2f2f2;
    }

    @media (min-width: $desktop-width) {
      padding: 150px 37px 38px;
    }
  }
}

.catalog-card__item--more::before,
.catalog-card__item--more::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 50%;

  width: 2px;
  height: 30px;

  background-color: #d3d3d3;

  @media (min-width: $tablet-width) {
    top: 133px;
    z-index: 2;

    height: 60px;
  }
}

.catalog-card__item--more::after {
  transform: rotate(90deg);
}

.catalog-card__title {
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    max-width: 136px;
    margin: 0 auto;

    br {
      display: none;
    }
  }
}

.catalog-card__text {
  margin: 0 0 20px;
  padding-top: 8px;

  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    margin: 0 37px 80px;
    padding-top: 23px;

    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 89px;
    padding-top: 26px;
  }
}

.catalog-card__button {
  color: #ffffff;

  background-color: #68b738;
}

.catalog-card__button--empty {
  color: #444444;

  background-color: #f2f2f2;

  &:hover,
  &:focus {
    background-color: darken($color: #f2f2f2, $amount: 15%);
    opacity: 0.6;
  }

  &:active {
    opacity: 0.8;
  }
}
