.control {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.control--check {
  @media (min-width: $tablet-width) {
    display: grid;

    gap: 32px 123px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.control__item {
  display: grid;
  align-items: center;
  width: fit-content;
  margin-bottom: 13px;

  gap: 15px;
  grid-template-columns: repeat(2, auto);

  &:disabled {
    opacity: 0.3;

    pointer-events: none;
  }

  @media (min-width: $tablet-width) {
    gap: 20px;
  }
}

.control__label {
  display: grid;
  align-items: start;
  width: fit-content;

  font-size: 16px;
  line-height: 18px;
  font-family: $font-oswald;
  text-transform: uppercase;

  grid-template-columns: repeat(2, auto);

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.control__label:disabled ~ .control__input {
  opacity: 0.3;

  pointer-events: none;
}

.control__input {
  width: 30px;
  height: 30px;
  margin: 0;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #cdcdcd;

  appearance: none;
}

.control__input--check[type="checkbox"]:checked {
  background-image: url("../img/svg/tick.svg");
}

.control__input[type="radio"] {
  position: relative;

  border-radius: 50%;
}

.control__input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 13px;
  height: 13px;

  background-color: #68b738;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}
