.control {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.control--check {
  @media (min-width: $tablet-width) {
    display: grid;

    gap: 32px 123px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.control__item {
  margin-bottom: 19px;
}

.control__label {
  padding-left: 15px;

  font-size: 16px;
  line-height: 18px;
  font-family: $font-oswald;
  text-transform: uppercase;

  .control__label {
    display: grid;
    align-items: start;
    width: fit-content;

    grid-template-columns: repeat(2, auto);
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.control__input {
  width: 30px;
  height: 30px;
  margin: 0;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #cdcdcd;

  appearance: none;
}

.control__input--check[type="checkbox"]:checked {
  background-image: url("../../img/svg/tick.svg");
}
