.control {
  display: grid;
  margin: 0;
  padding: 0;

  list-style-type: none;

  gap: 12px;
  grid-template-columns: 1fr;
}

.control--radio {
  @media (min-width: $tablet-width) {
    padding: 24px 28px;

    border: 1px solid #e7e7e7;
  }
}

.control--check {
  @media (min-width: $tablet-width) {
    gap: 33px 57px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    gap: 33px 78px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.control__item {
  display: grid;
  align-items: center;
  width: fit-content;
  min-height: 30px;

  gap: 15px;
  grid-template-columns: auto 1fr;

  @media (min-width: $tablet-width) {
    min-height: 40px;

    cursor: pointer;
  }

  @media (min-width: $tablet-width) {
    gap: 20px;
  }
}

.control__label {
  display: grid;
  align-items: start;
  width: fit-content;

  font-size: 16px;
  line-height: 18px;
  font-family: $font-oswald;
  text-transform: uppercase;

  cursor: pointer;

  grid-template-columns: repeat(2, auto);

  /* &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  .control-label:disabled {
    opacity: 0.8;

    pointer-events: none;
  } */

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.control__input {
  width: 30px;
  height: 30px;
  margin: 0;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #cdcdcd;
  cursor: pointer;

  appearance: none;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.control__input--check[type="checkbox"]:checked {
  background-image: url("../img/svg/tick.svg");
}

.control__input[type="radio"] {
  position: relative;

  border-radius: 50%;
}

.control__input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 13px;
  height: 13px;

  background-color: #68b738;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
  }
}
