.form form {
  overflow: hidden;
}

.form__container {
  max-width: 1440px;
  padding: 0;
}

.form__header {
  padding: 25px 0 17px;

  @media (min-width: $tablet-width) {
    padding: 65px 0 44px;
  }

  @media (min-width: $desktop-width) {
    padding: 34px 0 44px;
  }
}

.form__header .form__container {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.form__main-title {
  margin-bottom: 34px;

  text-align: start;

  @media (min-width: $tablet-width) {
    margin-bottom: 56px;
  }
}

.form__text {
  margin: 0;

  font-size: 14px;
  line-height: 18px;
  font-family: $font-oswald;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__fieldset-wrapper {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    max-width: 1220px;
    margin: 0 auto 54px;

    gap: 20px 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.form__fieldset {
  position: relative;

  width: 100%;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;

  border: none;

  &--data {
    padding: 23px 20px;

    @media (min-width: $tablet-width) {
      padding: 21px 53px 20px 70px;
    }

    @media (min-width: $desktop-width) {
      padding: 21px 0;
    }
  }

  &--radio {
    padding: 23px 20px 5px;

    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;

    @media (min-width: $tablet-width) {
      padding: 75px 70px 36px 97px;

      border: none;
    }

    @media (min-width: $desktop-width) {
      padding: 47px 0 20px 26px;
    }
  }

  &--contacts {
    padding: 43px 20px 25px;

    @media (min-width: $tablet-width) {
      padding: 72px 53px 70px 70px;
    }

    @media (min-width: $desktop-width) {
      padding: 72px 110px 75px;
    }
  }

  &--commit {
    padding: 36px 20px 20px;

    @media (min-width: $tablet-width) {
      padding: 82px 54px 65px 70px;
    }

    @media (min-width: $desktop-width) {
      padding: 73px 110px 71px;
    }
  }

  &--check {
    padding: 32px 20px 2px;

    @media (min-width: $tablet-width) {
      padding: 53px 70px 17px;
    }

    @media (min-width: $desktop-width) {
      padding: 52px 110px 36px;
    }
  }

  &--submit {
    padding: 15px 20px 32px;

    @media (min-width: $tablet-width) {
      display: grid;
      align-items: center;
      padding: 23px 70px 62px;

      gap: 20px 46px;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $desktop-width) {
      padding: 13px 110px 82px;

      gap: 20px 80px;
    }
  }

  &--lines {
    border-top: 2px solid $color-main;
  }
}

.form__group {
  display: grid;

  gap: 14px;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }
}

.form__fieldset--contacts .form__group {
  @media (min-width: $desktop-width) {
    gap: 20px 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.form__group-item {
  display: grid;
  align-items: baseline;
  min-height: 30px;

  gap: 15px;
  grid-template-columns: auto 1fr;

  @media (min-width: $tablet-width) {
    min-height: 40px;
  }
}

.form__label {
  font-size: 16px;
  line-height: 18px;
  font-family: $font-oswald;
  // color: #444444;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__input {
  width: 100%;
  height: 45px;
  padding: 9px 14px;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: $font-oswald;
  color: #444444;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid #e7e7e7;

  &:hover:not(:disabled) {
    border-color: #cdcdcd;
  }

  &:focus {
    border-color: #444444;
    outline: none;
    box-shadow: 0 0 0 1px #444444;
  }

  &:disabled {
    color: #444444;

    background-color: #e5e5e5;

    pointer-events: none;
  }

  @media (min-width: $tablet-width) {
    height: 52px;
    padding: 9px 18px;

    font-size: 20px;
    line-height: 30px;
  }

  &--invalid {
    border-color: #ff8282;
    box-shadow: 0 0 0 1px #ff8282;
  }

  &--valid {
    border-color: #5eaa2f;
    box-shadow: 0 0 0 1px #5eaa2f;
  }

  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    margin: 0;

    appearance: none;
  }

  &[type="number"] {
    appearance: textfield;
  }
}

textarea.form__input {
  height: 150px;
  padding: 14px;

  resize: none;

  @media (min-width: $tablet-width) {
    height: 175px;
    padding: 10px 19px;
  }
}

.form__fieldset--contacts .form__legend {
  position: relative;
  top: 8px;

  @media (min-width: $tablet-width) {
    top: -3px;
  }

  @media (min-width: $desktop-width) {
    top: -3px;
  }

  & br {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.form__legend {
  margin: 0 -20px;
  padding: 0 20px;

  font-size: 24px;
  line-height: 27px;
  font-family: $font-oswald;
  color: #000000;

  @media (min-width: $tablet-width) {
    position: relative;
    top: -4px;

    margin: 0 -40px;
    padding: 0 40px;

    font-size: 36px;
    line-height: 36px;
  }
}

.form__input-container {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 13px;

    width: 20px;
    height: 20px;

    background-color: #000000;
    transform: translateY(-50%);

    mask-position: center;
    mask-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      right: 16px;
    }
  }

  &--mail::after {
    mask-image: url("../../img/sprite.svg#icon-mail");
  }

  &--phone::after {
    mask-image: url("../../img/sprite.svg#icon-tel");
  }

  &:focus-within::after {
    background-color: #68b738;
  }

  &--invalid::after {
    background-color: #ff8282;
  }
}

.form__note {
  margin: 0;

  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin: 0 0 7px;
    padding-left: 18px;

    font-size: 16px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.form__submit {
  width: 100%;
  margin-bottom: 16px;
  padding: 9px;

  @media (min-width: $tablet-width) {
    max-width: 284px;
    margin-bottom: 0;
    padding: 16px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 570px;
  }
}
