.form {
  max-width: 1260px;
  margin: 0 auto;
}

.form form {
  overflow: hidden;
}

.form__container {
  max-width: 1440px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}

.form__fieldset-wrapper .form__fieldset {
  @media (min-width: $tablet-width) {
    padding-left: 40px;
  }
}

.form__header {
  padding: 25px 0 17px;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
  }
}

.form__main-title {
  margin-bottom: 37px;

  text-align: start;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }
}

.form__text {
  margin: 0;

  font-size: 14px;
  line-height: 18px;
  font-family: $font-oswald;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.form__fieldset-wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    align-items: center;
    margin-bottom: 70px;

    gap: 80px;
    grid-template-columns: repeat(2, 570px);
  }
}

.form__fieldset {
  position: relative;

  width: 100%;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;

  border: none;

  &--data {
    padding-top: 23px;

    @media (min-width: $tablet-width) {
      padding-bottom: 0;
    }
  }

  &--radio {
    padding: 23px 20px 19px 0;

    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;

    @media (min-width: $tablet-width) {
      margin-bottom: 65px;
      padding-left: 27px;

      border: 1px solid #d9d9d9;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
      padding: 27px 28px;
    }
  }

  &--contacts {
    padding: 43px 20px 25px 0;

    @media (min-width: $tablet-width) {
      padding-top: 76px;
      padding-left: 0;
    }
  }

  &--commit {
    padding: 36px 20px 20px 0;

    @media (min-width: $tablet-width) {
      padding-top: 87px;
      padding-left: 0;
    }
  }

  &--check {
    padding: 32px 20px 19px 0;

    @media (min-width: $tablet-width) {
      padding-top: 57px;
      padding-left: 0;
    }
  }

  &--submit {
    padding: 15px 20px 32px 0;

    @media (min-width: $tablet-width) {
      display: grid;
      padding-bottom: 60px;
      padding-left: 40px;

      gap: 60px;
      grid-template-columns: 284px 1fr;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 79px;
      padding-bottom: 0;

      gap: 80px;
      grid-template-columns: 570px 1fr;
    }
  }

  &--lines {
    border-top: 2px solid #68b738;

    @media (min-width: $tablet-width) {
      margin-bottom: 65px;
      padding-bottom: 0;
      padding-left: 40px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 70px;
    }
  }
}

.form__group {
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__group--position {
  @media (min-width: $desktop-width) {
    display: grid;

    gap: 80px;
    grid-template-columns: repeat(2, 570px);
  }
}

.form__group-item {
  display: grid;
  align-items: center;
  margin-bottom: 14px;

  gap: 14px;
  grid-template-columns: max-content 1fr;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.form__label {
  font-size: 16px;
  line-height: 18px;
  font-family: $font-oswald;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.form__input {
  width: 100%;
  height: 45px;
  padding: 9px 14px;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: $font-oswald;
  color: #444444;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid #e7e7e7;

  @media (min-width: $tablet-width) {
    padding: 11px 20px;

    font-size: 20px;
    line-height: 20px;
  }
}

textarea.form__input {
  height: 150px;
  padding: 14px;

  resize: none;
}

.form__legend {
  padding-right: 20px;

  font-size: 24px;
  line-height: 27px;
  font-family: $font-oswald;
  color: #000000;

  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    padding: 0 40px;

    font-size: 36px;
    line-height: 36px;

    br {
      display: none;
    }
  }
}

.form__submit {
  width: 280px;
}

.form__note {
  margin: 0;

  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;

  @media (min-width: $tablet-width) {
    align-self: center;

    text-align: start;
  }
}
