.lines {
  position: relative;

  margin: 0 -20px;
  padding-bottom: 10px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    margin: 0 -30px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 -20px;
    padding-left: 70px;
  }

  @media (min-width: 1440px) {
    margin: 0 -102px;
    padding-left: 70px;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 15px;

    display: inline-block;
    width: 100%;
    height: 2px;
    margin-right: -100%;

    vertical-align: middle;

    background-color: #68b738;

    @media (min-width: $tablet-width) {
      top: 22px;
    }
  }

  &::before {
    display: none;
    margin-right: auto;
    margin-left: -100%;

    @media (min-width: $tablet-width) {
      display: inline-block;
    }
  }
}

.lines span {
  padding: 0 20px;

  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 33px;
  }
}
