.logo {
  display: block;

  text-decoration: none;

  &--header {
    display: grid;
    align-items: center;

    column-gap: 56px;

    grid-template-columns: auto 1fr;
  }

  &--footer {
    width: 128px;
    height: 24px;
  }
}

.logo__image {
  display: block;
  width: 33px;
  height: 38px;
}

.logo__text {
  display: block;
  width: 101px;
  height: 18px;

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
  }
}

@media (min-width: $tablet-width) {
  .logo--header {
    column-gap: 13px;
  }
}

/* .logo-color {
  fill: tomato;
}

.logo__text-footer [href] {
  color: #fff;

  fill: currentColor;
} */

.logo__text-footer {
  width: 128px;
  height: 24px;

  color: #111111;

  fill: none;
  fill: currentColor;

  &:hover,
  &:focus {
    color: #3e3e3e;
  }

  &:active {
    color: #6b6b6b;
  }
}
