.logo {
  display: block;

  text-decoration: none;

  &--header {
    display: grid;
    align-items: center;

    column-gap: 56px;

    grid-template-columns: auto 1fr;
  }

  &--footer {
    width: 128px;
    height: 24px;
  }
}

.logo__image {
  display: block;
  width: 33px;
  height: 38px;
}

.logo__text {
  display: block;
  width: 101px;
  height: 18px;

  color: #111111;

  --color-logo-text: #111111;

  @media (min-width: $tablet-width) {
    --color-logo-text: #444444;
    fill: #111111;
  }

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
  }
}

.logo--header {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    column-gap: 13px;
  }
}

.logo__text-footer {
  width: 128px;
  height: 24px;

  color: #111111;

  --color-logo-text: #111111;
  fill: currentColor;

  &:hover,
  &:focus {
    color: #3e3e3e;

    --color-logo-text: #3e3e3e;
  }

  &:active {
    color: #6b6b6b;

    --color-logo-text: #6b6b6b;
  }
}
