.nav-list {
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: #ffffff;
  border-top: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.nav-list__item {
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
  }

  &--current {
    position: relative;

    @media (min-width: $tablet-width) {
      &::after {
        content: "";
        position: absolute;
        right: 3px;
        bottom: 0;
        left: 28px;

        height: 2px;

        background: #68b738;
      }
    }

    @media (min-width: $desktop-width) {
      &::after {
        content: "";
        position: absolute;
        right: 5px;
        bottom: 0;
        left: 31px;

        height: 2px;

        background: #68b738;
      }

      &:first-child {
        &:after {
          @media (min-width: $desktop-width) {
            background: #ffffff;
          }
        }
      }
    }
  }
}

.nav-list__link {
  display: block;
  padding: 22px;

  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  font-family: $font-oswald;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding: 14px 4px 9px 29px;

    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
  }

  @media (min-width: $desktop-width) {
    padding: 12px 4px 9px 30px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header--background {
  .nav-list__link {
    @media (min-width: $desktop-width) {
      font-size: 20px;
      color: #ffffff;
    }
  }
}
