.page-header {
  position: relative;
}

.page-header__container {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
}
