.page-header {
  position: relative;
}

/* перенести псевдоэлемент на хидер */
@media (min-width: $desktop-width) {
  .page-header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    width: 50%;

    background-color: rgba(104, 183, 56, 0.85);
    background-image: linear-gradient(
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      url("../../img/promo-cat-desktop.jpg");
    background-repeat: repeat, no-repeat;
  }
}

.page-header__container {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;

  @media (min-width: $tablet-width) {
    min-height: 75px;
  }

  @media (min-width: $desktop-width) {
    min-height: 110px;
  }
}
