.prospects {
  padding-top: 20px;

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.prospects__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $desktop-width) {
    display: grid;
    margin-top: 82px;

    gap: 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.prospects__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 20px 22px;

  background-color: #f2f2f2;
  background-repeat: no-repeat;

  gap: 19px;

  @media (min-width: $tablet-width) {
    padding: 77px 332px 100px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 62px 55px 52px;

    gap: 0;
  }
}

.prospects__item--slim {
  background-image: url("../img/svg/sitting-cat.svg");
  background-position: top 21px left 20px;

  @media (min-width: $tablet-width) {
    background-position: top 85px right 83px;
    background-size: 200px 211px;
  }

  @media (min-width: $desktop-width) {
    background-position: top 40px left 55px;
    background-size: 100px 106px;
  }
}

.prospects__item--pro {
  background-image: url("../img/svg/walking-cat.svg");
  background-position: top 26px left 10px;
  background-size: 67px 50px;

  @media (min-width: $tablet-width) {
    background-position: top 90px right 42px;
    background-size: 268px 200px;
  }

  @media (min-width: $desktop-width) {
    background-position: top 43px left 34px;
    background-size: 134px 100px;
  }
}

.prospects__item-title {
  margin: 0 0 10px 70px;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  font-family: $font-oswald;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 73px;
    padding-left: 162px;
  }
}

.prospects__item-text {
  margin: 0;
  padding-bottom: 38px;

  font-size: 14px;
  line-height: 18px;
  color: #444444;

  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;

    border-bottom: none;
  }
}

.prospects__link {
  position: relative;

  display: block;
  width: fit-content;
  padding-right: 48px;

  font-size: 16px;
  line-height: 16px;
  font-family: $font-oswald;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100% - 32px);

    width: 24px;
    height: 12px;

    background-image: url("../img/svg/arrow.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 32px 12px;
    transform: translateY(-50%);

    transition: width 0.3s ease;
  }

  &:hover,
  &:focus {
    &::after {
      width: 32px;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
