.slider {
  position: relative;
}

.slider__image-cat {
  display: block;
  margin: 0 auto;
}

.slider__button {
  position: absolute;
  top: 0;
  left: 50%;

  width: 4px;
  height: 100%;
  padding: 0;

  background-color: #666666;
  border: none;
  border-radius: 2px;
  transform: translateX(-50%);

  &:hover,
  &:focus,
  &:hover .slider__arrow,
  &:focus .slider__arrow {
    color: #68b738;

    border: 2px solid #68b738;
  }

  &:active,
  &:active .slider__arrow {
    color: #5eaa2f;

    border: 2px solid #5eaa2f;
    opacity: 0.6;
  }
}

.slider__arrow {
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0 auto;

  color: #666666;

  background-color: #ffffff;
  border: 2px solid #666666;
  border-radius: 50%;
  transform: translate(50%, -50%);

  fill: currentColor;
}
