$color-default-black: #000000;
$color-default-white: #ffffff;
$color-default-dark: #444444;
$color-main: #68b738;
$color-error: #ff1553;
$font-lato: "Lato", "Arial", sans-serif;
$font-oswald: "Oswald", "Arial", sans-serif;

// Viewports
// ---------------------------------

$modile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1260px;

// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
