.advantages__wrapper {
  margin-bottom: 74px;
}

.advantages__title {
  margin-top: 42px;
  margin-bottom: 40px;
}

.advantages__list {
  width: 280px;
  margin: 0;
  padding: 0;
}

.advantages__item {
  margin-bottom: 24px;

  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  font-family: "Lato";
  color: #444444;
}
