.example__title {
  margin-bottom: 40px;
}

.example__text {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  font-family: "Lato";
  color: #444444;
}

.example__result {
  display: grid;
  margin: 0;
  margin-bottom: 20px;

  gap: 20px 32px;
  grid-template-columns: 1fr 1fr;
}

.example__def {
  margin: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  font-family: "Lato";
  text-align: center;
  text-align: center;
  color: #444444;
}

.example__item {
  display: grid;
  align-items: center;

  justify-items: center;
}

.example__item--price {
  display: flex;
  justify-content: center;
  margin: 0;

  grid-column: -1/1;
}

.example__value {
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  font-family: "Oswald";
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.example__value-price {
  margin: 0;
}

.example__value-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  font-family: "Oswald";
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.example__def-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  font-family: "Oswald";
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}
