.page-header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.page-header__wrapper {
  position: relative;
}

.header-nav__list {
  position: absolute;
  top: 100%;
  right: 100%;

  width: 320px;
}

.header-nav__toggle:hover + .nav-list,
.header-nav__toggle:focus + .nav-list {
  display: block;
}
