.page-header {
  position: relative;
}

.page-header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
}

.page-header__wrapper {
  position: relative;
}

.page-header__logo {
  display: flex;
  align-items: center;
}

.page-header__container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 320px;
  height: 1px;

  background-color: #d9d9d9;
}

.header-nav__toggle:hover + .nav-list,
.header-nav__toggle:focus + .nav-list {
  display: block;
}
