.logo__image {
  margin-right: 56px;
}

.logo__text-footer {
  display: block;
  margin: 0 auto;
}

.page-footer __social {
  margin: 0;
  padding: 0;
}

.logo--footer {
  position: relative;
}

.logo--footer::after {
  content: "";
  position: absolute;
  top: 40px;

  display: block;
  width: 280px;
  height: 1px;

  background-color: #d9d9d9;
}
