.page-footer__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.page-footer__social {
  position: relative;

  margin: 0 auto;
}

.page-footer__social::after {
  content: "";
  position: absolute;
  top: 40px;
  right: -65px;

  display: block;
  width: 280px;
  height: 1px;

  background-color: #d9d9d9;
}
